---
name: Build and Push Docker Image to Docker Hub

# yamllint disable-line rule:truthy
on:
  push:
    branches: ["master"]
    tags-ignore: ["*"]
  check_run:
    types: [rerequested, requested_action]
  pull_request:
    branches: ["master"]
# yamllint enable

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: set up qemu
        uses: docker/setup-qemu-action@v3

      - name: set up docker buildx
        uses: docker/setup-buildx-action@v3

      - name: login to docker hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: |
            frankhjung/${{ github.repository }}:latest
            frankhjung/${{ github.repository }}:${{ github.sha }}
